* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;

}
.main {
    width: 1366px;
    height: 768px;
    border: 1px solid black;
    background-color: #FEDCC5;
    margin: 100px auto;
    display: flex;
    align-items: center;
    
}
.main .box1 {
    width: 455px;
    height: 600px;
    border-radius: 24px;
    background-color: rgb(0, 0, 0, 0.2);
}
.main .box1 .your-logo {
    width: 200px;
    height: 80px;
    border: 1px solid black;
}
.main .box1 .your-logo small {
    color: #F25019;
}
.main .box1 .your-logo h1 {
    font-size: 50px;
}
.main .box1 .email {
    width: 335px;
    height: 64px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
