* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

.main {
    width: 800px;
    height: 500px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn {
    width: 100px;
    height: 80px;
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.btn:hover {
    transform: rotate(100deg);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.9);
}

h1 {
    font-size: 50px;
}

.dark {
    background-color: black;
    color: white;
}