* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;

}
.main {
    width: 1366px;
    height: 768px;
    border: 1px solid black;
    background-color: #FEDCC5;
    margin: 100px auto;
    
}
.main .box1 {
    width: 455px;
    height: 600px;
    border-radius: 24px;
    background-color: rgb(0, 0, 0, 0.2);
}