* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.main .bmw-btn {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
}

.main .mers-btn {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
}

.main .bmw-katta, .main .mers-katta{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.main .bmw-katta .bmw, .main .mers-katta .mers{
    width: 400px;
    height: 260px;
    background-color: white;
    border-radius: 12px;

}

.main .bmw-katta.active,
.main .mers-katta.active {
    display: flex;
}

.main .bmw-katta .bmw img, 
.main .mers-katta .mers img {
    width: 400px;
    border-radius: 5px;

}

.main .bmw-katta .bmw .close-btn, 
.main .mers-katta .mers .close-btn1 {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 20px;
}