* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main1 {
    width: 1400px;
    height: 850px;
    margin: 100px auto;
    box-shadow: 0px 1px 20px 1px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 10px;
    


}
.img1, .img2, .img3, .img4, .img5, .img6 {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}
.img1:active, .img2:active, .img3:active, .img4:active, .img5:active, .img6:active {
    transform: scale(0.9);
    transition: 0.2s;
}