* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main1 {
    width: 2000px;
    height: 800px;
    border-radius: 20px;
    box-shadow: 0px 1px 15px 1px gray;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}
.box {
    width: 367px;
    height: 180px;
    box-shadow: 0px 1px 5px 1px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box img {
    width: 367px;
    height: 120px;
}
.box img:hover {
    cursor: pointer;
}
.box .div1 {
    width: 367px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} 
.box .div1 .camera {
    width: 340px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .div1 .camera p {
    font-size: 20px;
}
.btn1 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgb(43, 41, 41);
    color: white;
    transform: translateY(-20px);
    box-shadow: 0px 1px 5px 1px black;
}
.btn1:hover {
    background-color: rgb(33, 33, 160);
    cursor: pointer;
}
.click {
    width: 340px;
    height: 35px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.click .spn {
    width: 230px ;
    height: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.click .spn span {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 2px;
    border-radius: 3px;
}
.click .spn span:hover {
    cursor: pointer;
}
.download-box {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-box i {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding-top: 1.2px;
}
.download-box i:hover {
    background-color: rgb(33, 33, 160);
    cursor: pointer;
}
